(TRANSFORM C
    (INPUTS (Population 1)
            (MetallicElements 1)
            (MetallicAlloys 1)
            (Electronics 1))
    (OUTPUTS (Population 1)
            (Electronics2 1)
            (ElectronicsWaste 1)))
