(TRANSFORM C
    (INPUTS (Population 5)
            (MetallicAlloys 1)
            (MetallicElements 1)
            (Timber 1)
            (Housing2 1))
    (OUTPUTS (Housing3 1)
             (HousingWaste 1)
             (Population 5)))
